# Bower
bower_components/

# Purescript/Pulp
.pulp-cache/
output/
.psc-package/
.psc*
.purs*
.psa*
generated-docs/

# Output files
dist/index_bundle.js
dist/index_bundle.js.map

# Node
node_modules/
package-lock.json

# Mac
.DS_Store/
.DS_Store